
.game-page-content{
    display: flex;
    width: 100%;
}
.game-page-left{
    width: 70%;
}
.game-page-right{
    width: 30%;
}
.game-page-buy{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.secondary-text{
    color: rgba(204, 193, 204, 0.548);
}

.game-category{
    display: flex;
}